<%- include('../admininclude/head.ejs') %>
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List of Employees
                </h6>
                <% if(session.role=='admin'){ %>
                    <a href="" data-toggle="modal" data-target="#filtermodel" class="btn btn-success text-white float-right">Add new
                </a>
                    <% }  %>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Date of join</th>
                                <% if(session.role=='admin'){ %>
                                    <th>Password</th>

                                    <th>Delete</th>
                                    <% }  %>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Date of join</th>
                                <% if(session.role=='admin'){ %>
                                    <th>Password</th>

                                    <th>Delete</th>
                                    <% }  %>
                            </tr>
                        </tfoot>
                        <tbody>

                            <%for(let doc of docs){%>
                                <tr onclick="window.location='/employee/<%=doc._id%>';">
                                    <td>

                                        <%=doc.name%>

                                    </td>
                                    <td>
                                        <%=doc.email%>
                                    </td>
                                    <td>

                                        <%=doc.datejoined%>

                                    </td>
                                    <% if(session.role=='admin'){ %>
                                        <td>
                                            <%=doc.password%>
                                        </td>

                                        <td>
                                            <a href="/employee/delete/<%=doc._id%>" class="btn btn-danger text-white float-right">Delete
                                            </a>
                                        </td>
                                        <% }  %>


                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="filtermodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insert CSV file</h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="form1" action="/controller/link" enctype="multipart/form-data" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label for="">Pick a file</label>
                                <input type="file" required class="form-control form-control-user" id="exampleFirstName" name="csv" placeholder="place name">
                            </div>
                        </div>



                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form1">Insert</button>
                </div>
            </div>

        </div>
    </div>

    <script>
    </script>
    <%- include('../admininclude/end.ejs') %>