<%- include('../admininclude/head.ejs') %>
    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Winners
                </h6>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Location</th>
                                <th>Prize</th>
                                <th>Address</th>
                                <th>Draw date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Location</th>
                                <th>Prize</th>
                                <th>Address</th>
                                <th>Draw date</th>


                            </tr>
                        </tfoot>
                        <tbody>

                            <%for(let doc of docs){%>
                                <tr>
                                    <td>

                                        <%=doc.name%>

                                    </td>
                                    <td>
                                        <%=doc.phone%>
                                    </td>
                                    <td>
                                        <%=doc.location%>
                                    </td>
                                    <td>
                                        <%=doc.prize%>
                                    </td>
                                    <td>
                                        <%=doc.address%>
                                    </td>

                                    <td>
                                        <%=doc.drawdate.toLocaleString()%>
                                    </td>

                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <%- include('../admininclude/end.ejs') %>